*.orig
*.dll
*.userprefs
*.ncrunchproject
*.ncrunchsolution
*.vsmdi

Common/bin/*
Common/obj/*
Common.Test/bin
Common.Test/obj

Client/bin/*
Client/obj/*

Server/bin/*
Server/obj/*
Server.Test/bin
Server.Test/obj

*.suo
*.csproj.user